/*Google Fonts Link*/
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Leckerli+One&display=swap');
/*Css Variable*/
:root {
    --primary-font: "Leckerli One", serif;
    --secondary-font: "Berkshire Swash";
    --primary-color: #1C350B;
    /* green */
    --secondary-color: #a1c08c;
    /* brown */
    --highlight-color: #F9F9E5;
    /* purple */
    --highlight-color-light: #f3f596;
    /* light grey */
}
body {
    height: 100vb;
    background-image: linear-gradient(to bottom , rgba(74, 122, 59, 0.904), rgb(13, 46, 17));
    background-repeat: no-repeat;
    color: var(--primary-color);
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main-container {
   
}
#back-image {
    background-image: url('../images/papirus1.png');
    
}

.logo {
    width: 150px;
    height: auto;
    margin-left: 20px;
    position: fixed;
    top: 10px;
    left: 20px;
}
.btn {
    border: 4px solid var(--highlight-color-light);
    background-color: var(--secondary-color);
    font-family: var(--secondary-font);
}
.btn-restart {
    position: absolute;
    top: 35px;
    right: 80px;
}
