/*Google Fonts Link*/

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Leckerli+One&display=swap');

/*Css Variable*/
:root {
    --primary-font: "Leckerli One", serif;
    --secondary-font: "Berkshire Swash";
    --primary-color: #1C350B;
    /* green */
    --secondary-color: #a1c08c;
    /* brown */
    --highlight-color: #F9F9E5;
    /* purple */
    --highlight-color-light: #f3f596;
    /* light grey */
}

/*Global Styles*/

html,body {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom , rgba(74, 122, 59, 0.904), rgb(13, 46, 17));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    margin-bottom: 3rem;
}

main {
    display: block;
}

p {
    padding: 1rem;
}

h1, h2 {
    padding: 1rem;
}

#main-container {  
    width: 100%;
    min-height: 100vh;
    background-image: url("../images/papirus-2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 1.5rem;
    display: block; 
    padding:8rem 3rem;

}

#story-container {
    padding: 1rem;
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
}

#pictures-container {
    width: 100%;
    display: flex;
    justify-content: center; 
    gap: 1rem; 
    flex-wrap: wrap; 
    padding: 1rem;
}

#choices-container {
    padding: 1rem;
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
}

.logo {
    width: 150px;
    height: auto;
    left: 0;
}

.nav-container {
    width: 100%;
    margin: 0.5rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.characters-img {
    width: 200px;
    height: auto;
    
}
/*Buttons style*/

.btn {
    border: 4px solid var(--highlight-color-light);
    background-color: var(--secondary-color);
    font-family: var(--secondary-font);
    padding: 0.5rem 1rem;
}

.btn:hover {
    border: 4px solid var(--secondary-color);
    background-color: #f7f8b8;
}

.btn-restart {
    margin-top: 1rem;
    border-radius: 8px;
}

.nav-buttons {
    display: flex;
    gap: 1rem;
}

/*Modal styling*/
.modal {
    display: none;
    position: fixed;
    z-index: 1000; 
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
}


/* Styles for big screen*/

@media screen and (min-width:778px) {
.nav-container {
    margin: 0 5rem;
}
#main-container {
    margin-top: 3rem;#main-container {  
    width: 80%;
    height: auto;
    min-height: 80vh;
    background-image: url("../images/papirus.png");
    background-size: 100% 130%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding:3rem 3rem;
    margin: 2rem auto;
}
#story-container {
    padding: 3rem;
}
}

@media screen and (min-width:992px) {
    #main-container {  
        width: 80%;
        height: auto;
        min-height: 80vh;
        background-image: url("../images/papirus.png");
        background-size: 100% 130%;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding:3rem 3rem;
        margin: 2rem auto;
    }
}

#story-container {
    max-width: 800px;
    padding: 2rem;
}

#pictures-container {
    gap: 5rem;
} to inp

@media screen and (min-width:1200px) {

#story-container {
    max-width: 1000px;
}
}